<?xml version="1.0" encoding="UTF-8"?>

<launch>    
    <arg name="name" default="jetbot"/>
    <arg name="ID" default="0"/>
    <arg name="sim" default="true"/>

    <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" respawn="true">
        <remap from="/cmd_vel" to="/$(arg name)$(arg ID)/cmd_vel" unless="$(arg sim)"/>
        <remap from="/cmd_vel" to="/$(arg name)$(arg ID)/diff_drive_controller/cmd_vel" if="$(arg sim)"/>
    </node>
</launch>